.App {
  text-align: center;
}

.canonical-callflow {
  --callflow-tooltip-header-text-align: left;
  --callflow-tooltip-header-font-weight: bold;
  --callflow-tooltip-header-font-size: 16px;
  --callflow-tooltip-header-margin-top: 4px;
  --callflow-tooltip-header-margin-bottom: 4px;
  --callflow-tooltip-hr-margin-top: 0px;
  --callflow-tooltip-hr-margin-bottom: 0px;
  /* --callflow-background-color: #f0f0f0; */
  /* --callflow-tooltip-hr-color: #ccc; */
  --callflow-tooltip-ul-gap: 4px;
  --callflow-tooltip-body-font-size: 14px;
  /* --callflow-tooltip-body-color: #ccc; */
  /* --callflow-tooltip-target-stage-color: #334155; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
